
<div class="container">

    <div class="row">

        <div class="col-sm-4">
            
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Nike, Inc. is an American multinational corporation that is engaged in the design, development, manufacturing and worldwide marketing and selling of footwear, apparel, equipment, accessories and services</p>
                    <img src="/images/Logo_Nike.png" />
                </div>
            </div>
            
        </div>

        <div class="col-sm-4">

            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Reebok International Limited was founded in 1895 in Bolton, Lancashire, England. It has been a subsidiary of the German group Adidas since 2005, and is a producer of athletic shoes, clothing, and accessories</p>
                    <img src="/images/Logo_Reebok.png" />
                </div>
            </div>

        </div>

        <div class="col-sm-4">
            
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Adidas AG is a German multinational corporation that designs and manufactures sports shoes, clothing and accessories. The company is based in Herzogenaurach, Bavaria, Germany</p>
                    <img src="/images/Logo_Adidas.png" />
                </div>
            </div>
            
        </div>

    </div>

</div>